In [1]:
import pandas as pd

In [7]:
# df=pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx')

In [8]:
# df # df is the dataframe dataframe is the tabular structure
# print(type(df))

In [9]:
# df

In [10]:
# If we want to select the another excel sheet from the same excel sheet
df1 = pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx',sheet_name='Sheet2')
df1

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\gupta\\Downloads\\Attribute DataSet.xlsx'

In [ ]:
# It will consider the top of the row which is heading also the column

In [ ]:
df=pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx',header=None) # By placing header=None it will replace the column detail with the integer number
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
2,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
3,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
497,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
498,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
499,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
500,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [ ]:
df=pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx',header=None,names=['A' ,'B','C','D','E','F','G','H','I','J','K','L','M']) # Here we can also change the name of the column
df

,A,B,C,D,E,F,G,H,I,J,K,L,M
Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [ ]:
# Different types of operation on the dataframe
df=pd.read_excel(r'C:\Users\gupta\Downloads\Attribute DataSet.xlsx')
# For seeing the specific number of rows from the top in the dataframe
df.head(2) # It will show the top two data
df.head() # If we will not give any argument in it it will give you the top 5 data

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [ ]:
# For seeing the specific number of rows from the bottom in the dataframe
df.tail() # If we will not give any argument in it it will give you the bottom 5 data

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [ ]:
df.tail(2) # It will show the bottom two data

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [ ]:
df_h = pd.read_csv(r'C:\Users\gupta\Downloads\haberman_csv.csv')
df_h

,Age_of_patient_at_time_of_operation,Patients_year_of_operation,Number_of_positive_axillary_nodes_detected,Survival_status
0,30,64,1,1
1,30,62,3,1
2,30,65,0,1
3,31,59,2,1
4,31,65,4,1
...,...,...,...,...
301,75,62,1,1
302,76,67,0,1
303,77,65,3,1
304,78,65,1,2
305,83,58,2,2

In [ ]:
 # Reading the data directly from the github
df_github = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')
# Printing the data set df_github
df_github

URLError: <urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>

In [ ]:
# Reading the data from the html page
df_basketball=pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [ ]:
df_basketball
type(df_basketball) # It is the list it is not the dataframe
len(df_basketball) # Length is the 1 because there is only one table
df_basketball[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [ ]:
# If we want to read the json data
json_df = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [ ]:
json_df
type(json_df)
json_df .columns # If we want to show the name of the column
json_df['user'] # Under the user these is the data

0     {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
1     {'login': 'lukemanley', 'id': 8519523, 'node_i...
2     {'login': 'lithomas1', 'id': 47963215, 'node_i...
3     {'login': 'attack68', 'id': 24256554, 'node_id...
4     {'login': 'attack68', 'id': 24256554, 'node_id...
5     {'login': 'AlexanderJuestel', 'id': 45469915, ...
6     {'login': 'ChiQiao', 'id': 35905338, 'node_id'...
7     {'login': 'rmhowe425', 'id': 45905457, 'node_i...
8     {'login': 'jbrockmendel', 'id': 8078968, 'node...
9     {'login': 'phofl', 'id': 61934744, 'node_id': ...
10    {'login': 'lukemanley', 'id': 8519523, 'node_i...
11    {'login': 'kvn4', 'id': 55560840, 'node_id': '...
12    {'login': 'WillAyd', 'id': 609873, 'node_id': ...
13    {'login': 'Julian048', 'id': 100482381, 'node_...
14    {'login': 'raj-thapa', 'id': 118627384, 'node_...
15    {'login': 'phofl', 'id': 61934744, 'node_id': ...
16    {'login': 'Rob-DL', 'id': 3153796, 'node_id': ...
17    {'login': 'Andy-Dihong-Luo', 'id': 128155646, ...
18    {'login': 'rsm-23', 'id': 136445532, 'node_id'...
19    {'login': 'iansheng', 'id': 42494185, 'node_id...
20    {'login': 'rmhowe425', 'id': 45905457, 'node_i...
21    {'login': 'mroeschke', 'id': 10647082, 'node_i...
22    {'login': 'kvn4', 'id': 55560840, 'node_id': '...
23    {'login': 'mroeschke', 'id': 10647082, 'node_i...
24    {'login': 'sunflyfairy', 'id': 87637658, 'node...
25    {'login': 'nhoover', 'id': 5420750, 'node_id':...
26    {'login': 'mroeschke', 'id': 10647082, 'node_i...
27    {'login': 'noatamir', 'id': 6564007, 'node_id'...
28    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
29    {'login': 'phofl', 'id': 61934744, 'node_id': ...
Name: user, dtype: object

In [ ]:
# Here we are seeing the attribute dataframe
df
# Now we want to convert these data into the json

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [ ]:
df.to_json('test.json',orient='records') # Giving the name of the test file

In [ ]:
pwd

'c:\\Users\\gupta\\OneDrive\\Desktop\\Ineron(Python and Pandas)'

In [ ]:
# Now we are saving our csv data into our system
df.to_csv("C://test1.csv")
df.to_csv("C://test1.csv",sep='#') # All the data are seperated with the #

ImportError: Missing optional dependency 'fsspec'.  Use pip or conda to install fsspec.

In [ ]:
# We know the mysql
# 1-> Create a table attribute and dress dataset
# 2-> Do a bulk for these two table for respective dataset
# 3-> Read these dataset in pandas as a dataframe
# 4-> Convert attribute dataset in json format
# 5-> Store the json dataset in the mongodb

# 6-> In sql task try to perform left join operation with attribute dataset and dress dataset on column Dress_ID
# 7-> Write a sql query to find out how many unique dress that we have based on dress id
# 8-> How many dresses have recommendation 0
# 9-> Try to find out the total dress sell from indivisual dress id
# 10-> Try to find out a third highest most selling dress id

In [2]:
df_attribute = pd.read_csv(r'C:\Users\gupta\Downloads\Attribute DataSet_CSV.csv')
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [ ]:
df_dress = pd.read_csv(r'C:\Users\gupta\Downloads\Dress-Sales_CSV.csv')
df_dress

,Dress_ID,29-08-2013,31-08-2013,02-09-2013,04-09-2013,06-09-2013,08-09-2013,10-09-2013,12-09-2013,14-09-2013,...,24-09-2013,26-09-2013,28-09-2013,30-09-2013,02-10-2013,04-10-2013,06-10-2013,08-10-2010,10-10-2013,12-10-2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [ ]:
df_attribute.to_json('attribute.json')

In [ ]:
pwd

'c:\\Users\\gupta\\OneDrive\\Desktop\\Ineron(Python and Pandas)'

In [3]:
# Loading the attribute dataset
df_attribute = pd.read_csv(r'C:\Users\gupta\Downloads\Attribute DataSet_CSV.csv')
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [ ]:
# If we want name of all the columns of the dataset
df_attribute.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation'],
      dtype='object')

In [ ]:
# If we want to see the data of the particular column onlu
df_attribute['Rating']
# Checking the data type of the above column
type(df_attribute['Rating']) # Series_> Almost equivalent to the list
# Two types of data frame in Pandas 1-> Dataframe 2-> Series

pandas.core.series.Series

In [ ]:
# If we want to see all the datatypes of all the columns
df_attribute.dtypes

Dress_ID          object
Style             object
Price             object
Rating            object
Size              object
Season            object
NeckLine          object
SleeveLength      object
waiseline         object
Material          object
FabricType        object
Decoration        object
Pattern Type      object
Recommendation    object
dtype: object

In [ ]:
# If we want to fetch more than one column in the pandas
# df_attribute['Price','Size'] # These will give an error
# You have to pass inside the list
df_attribute[['Price','Size']]

       Price  Size
0        Low     M
1        Low     L
2       High     L
3    Average     L
4        Low     M
..       ...   ...
515      Low     M
516      Low  free
517  Average     L
518   Medium  free
519  Average     M

[520 rows x 2 columns]

In [ ]:
# If you have provided column name as a list like these [['profit']] the data type is Dataframe and if you have provided like these than the datatype will be Series

In [ ]:
# If we want to see the statistics about the dataset
df_attribute.describe()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
count,520,520,520,520,520,518,517,518,427,388,245,277,408,520
unique,476,14,8,18,8,9,17,18,5,24,23,25,15,3
top,1219677488,Casual,Average,0,M,Summer,o-neck,sleevless,natural,cotton,chiffon,lace,solid,0
freq,3,236,261,130,184,168,283,226,313,158,140,74,208,301

In [ ]:
# Filtering the data on the basis of the object
df_attribute.dtypes=='object' # Here I do not have any int objects

Dress_ID          True
Style             True
Price             True
Rating            True
Size              True
Season            True
NeckLine          True
SleeveLength      True
waiseline         True
Material          True
FabricType        True
Decoration        True
Pattern Type      True
Recommendation    True
dtype: bool

In [ ]:
a = df_attribute.dtypes[df_attribute.dtypes=='object'].index # I am getting all the column whose data type is object in the form of the list
print(a)
# print(a[0]) # a is the list type of data so on printing a[0] we will get the first element 
# If we want to get the data which is present in the column which is in a or in 
print(df_attribute[df_attribute.dtypes[df_attribute.dtypes=='object'].index])

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation'],
      dtype='object')
       Dress_ID     Style    Price Rating  Size  Season         NeckLine
0    1006032852      Sexy      Low    4.6     M  Summer           o-neck  \
1    1212192089    Casual      Low      0     L  Summer           o-neck
2    1190380701   vintage     High      0     L  Automn           o-neck
3     966005983     Brief  Average    4.6     L  Spring           o-neck
4     876339541      cute      Low    4.5     M  Summer           o-neck
..          ...       ...      ...    ...   ...     ...              ...
515  1055411544    Casual      Low      5     M  Summer        boat-neck
516  1162628131    Casual      Low      0  free  Winter        boat-neck
517   624314841      cute  Average    4.7     L  spring           o-neck
518   830467746  bohemian   Medium      5  free  Automn           o-neck
519   840857118     Brief  Average      0     M  Winter  peterpan-collor

     SleeveLength waiseline       Material FabricType  Decoration
0       sleevless    empire            NaN    chiffon     ruffles  \
1           Petal   natural     microfiber        NaN     ruffles
2            full   natural       polyster        NaN         NaN
3            full   natural           silk    chiffon  embroidary
4       butterfly   natural  chiffonfabric    chiffon         bow
..            ...       ...            ...        ...         ...
515         short       NaN         cotton        NaN      sashes
516          full       NaN          other      other        lace
517         short       NaN         cotton        NaN      sashes
518          full   natural            NaN        NaN   hollowout
519  threequarter   natural         cotton        NaN         NaN

    Pattern Type Recommendation
0         animal              1
1         animal              0
2          print              0
3          print              1
4            dot              0
..           ...            ...
515        solid              0
516          NaN              0
517        solid              1
518    patchwork              1
519    patchwork              0

[520 rows x 14 columns]

In [ ]:
df_attribute[df_attribute.dtypes[df_attribute.dtypes=='object'].index].describe()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
count,520,520,520,520,520,518,517,518,427,388,245,277,408,520
unique,476,14,8,18,8,9,17,18,5,24,23,25,15,3
top,1219677488,Casual,Average,0,M,Summer,o-neck,sleevless,natural,cotton,chiffon,lace,solid,0
freq,3,236,261,130,184,168,283,226,313,158,140,74,208,301

In [ ]:
# If I am seeing the float datatype
df_attribute.dtypes=='float' # ALl the columns are comming false beacause I do not have any float datatype
df_attribute.dtypes[df_attribute.dtypes=='float']
df_attribue.dtypes[]
# Series is just like the list

Series([], dtype: object)

In [ ]:
df_attribute.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation'],
      dtype='object')

In [ ]:
# If we want to see the data of the particuar column from one index to another index so we can use list indexing
df_attribute['Size'][1:4]

1    L
2    L
3    L
Name: Size, dtype: object

In [ ]:
df_attribute['Size'][0:2]

0    M
1    L
Name: Size, dtype: object

In [ ]:
# We can also give the jump size
df_attribute['Size'][1:40:2]

1        L
3        L
5        M
7     free
9     free
11    free
13       M
15    free
17    free
19       M
21       M
23       S
25       M
27       L
29       M
31       M
33       L
35    free
37       M
39       M
Name: Size, dtype: object

In [ ]:
# If we want to add the new column in the dataset
# df_attribute['a'] # a column does not exist giving KeyError
df_attribute['category1']='sudh'
# A new column name category1 is added in the dataset and the value 'sudh' is assigned to the whole column

In [ ]:
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,category1
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,sudh
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,sudh
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,sudh
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,sudh
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,sudh
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,sudh
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,sudh
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,sudh
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,sudh

In [ ]:
df_attribute.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'waiseline', 'Material', 'FabricType', 'Decoration',
       'Pattern Type', 'Recommendation', 'category1'],
      dtype='object')

In [ ]:
# If we want to check whether in the Price column anything is null or not
df_attribute['Price'].isnull()
# If it is null then it is True and if it is not null then it is False

0      False
1      False
2      False
3      False
4      False
       ...
515    False
516    False
517    False
518    False
519    False
Name: Price, Length: 520, dtype: bool

In [ ]:
df_attribute['waiseline'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
515     True
516     True
517     True
518    False
519    False
Name: waiseline, Length: 520, dtype: bool

In [ ]:
df_attribute['waiseline'][16]

nan

In [ ]:
# We want that id of the DressID and the all detail where rating is the maximun
df_attribute[df_attribute['Rating'] == max(df_attribute['Rating'])]['Material']

500    Material
Name: Material, dtype: object

In [ ]:
df_attribute['Season']=='Winter'

0      False
1      False
2      False
3      False
4      False
       ...
515    False
516     True
517    False
518    False
519     True
Name: Season, Length: 520, dtype: bool

In [ ]:
df_attribute[df_attribute['Season']=='Winter']

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,category1
12,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1,sudh
15,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,sudh
18,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,sudh
35,640823350,Casual,Low,4.6,free,Winter,boat-neck,full,natural,cotton,NaN,NaN,patchwork,1,sudh
36,801861988,vintage,Average,4.6,free,Winter,o-neck,full,natural,NaN,chiffon,NaN,print,1,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,1135456589,Casual,Average,0,XL,Winter,v-neck,short,empire,polyster,shiffon,pockets,solid,1,sudh
421,860334943,Casual,Medium,4.9,L,Winter,o-neck,short,natural,cotton,broadcloth,sashes,solid,0,sudh
513,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1,sudh
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,sudh
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,sudh

In [ ]:
len(df_attribute[df_attribute['Season']=='Winter'])

102

In [ ]:
df_attribute['Rating']>'3'

0       True
1      False
2      False
3       True
4       True
       ...
515     True
516    False
517     True
518     True
519    False
Name: Rating, Length: 520, dtype: bool

In [ ]:
df_attribute[df_attribute['Rating']>'3']

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,category1
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,sudh
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,sudh
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,sudh
10,1117293701,party,Average,5,free,Summer,o-neck,full,natural,polyster,broadcloth,lace,solid,0,sudh
12,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1,sudh
514,749031896,vintage,Average,4.8,M,Summer,o-neck,short,empire,cotton,jersey,NaN,animal,1,sudh
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,sudh
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,sudh
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,sudh

In [ ]:
len(df_attribute[df_attribute['Rating']>'3'])

388

In [ ]:
df_attribute[df_attribute['Rating']>'3']['Dress_ID']# Give me that Dress_ID which has Rating greater than 3

0      1006032852
3       966005983
4       876339541
10     1117293701
12      957723897
          ...
513     957723897
514     749031896
515    1055411544
517     624314841
518     830467746
Name: Dress_ID, Length: 388, dtype: object

In [ ]:
# Here we have uses the and operator
df_attribute[(df_attribute['Rating']>'3') & (df_attribute['Recommendation']>'0')]

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,category1
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,sudh
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,sudh
12,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1,sudh
13,749031896,vintage,Average,4.8,M,Summer,o-neck,short,empire,cotton,jersey,NaN,animal,1,sudh
16,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,sudh
513,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1,sudh
514,749031896,vintage,Average,4.8,M,Summer,o-neck,short,empire,cotton,jersey,NaN,animal,1,sudh
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,sudh
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,sudh

In [ ]:
# Here we have uses the or operator
df_attribute[(df_attribute['Rating']>'3') | (df_attribute['Recommendation']>'0')]

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,category1
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,sudh
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,sudh
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,sudh
8,1113094204,Flare,Average,0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1,sudh
9,985292672,bohemian,Low,0,free,Summer,v-neck,sleevless,natural,nylon,chiffon,NaN,NaN,1,sudh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513,957723897,sexy,Low,4.7,M,Winter,o-neck,threequarter,NaN,NaN,chiffon,lace,print,1,sudh
514,749031896,vintage,Average,4.8,M,Summer,o-neck,short,empire,cotton,jersey,NaN,animal,1,sudh
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,sudh
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,sudh
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,sudh

In [ ]:
df_attribute.dtypes

Dress_ID           object
Style              object
Price              object
Rating             object
Size               object
Season             object
NeckLine           object
SleeveLength       object
waiseline          object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation     object
Unnamed: 14       float64
Date               object
dtype: object

In [ ]:
# Here we want to change the data type of the variable 
# Here we are changing the date datatype which is object into an date datatype
date=pd.to_datetime(df_attribute['Date'],format='%d-%m-%Y')
print(date)

0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
         ...
515   2024-05-30
516   2024-05-31
517   2024-06-01
518   2024-06-02
519   2015-06-03
Name: Date, Length: 520, dtype: datetime64[ns]

In [ ]:
type(date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
# Creating the new column and assigning the converted data into that column
df_attribute['converted_order_date']=pd.to_datetime(df_attribute['Date'],format='%d-%m-%Y')

In [ ]:
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date,converted_order_date
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023,2023-01-01
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023,2023-01-02
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023,2023-01-03
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023,2023-01-04
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023,2023-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024,2024-05-30
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024,2024-05-31
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024,2024-06-01
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024,2024-06-02
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015,2015-06-03

In [ ]:
# I want to extract year from the converted_order_date and store in the new column
df_attribute['order_date_year'] = df_attribute['converted_order_date'].dt.year

In [ ]:
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date,converted_order_date,order_date_year
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023,2023-01-01,2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023,2023-01-02,2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023,2023-01-03,2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023,2023-01-04,2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023,2023-01-05,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024,2024-05-30,2024
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024,2024-05-31,2024
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024,2024-06-01,2024
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024,2024-06-02,2024
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015,2015-06-03,2015

In [ ]:
# Here we are storing the months in the seperate column
df_attribute['order_date_month'] = df_attribute['converted_order_date'].dt.month

In [ ]:
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date,converted_order_date,order_date_year,order_date_month
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023,2023-01-01,2023,1
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023,2023-01-02,2023,1
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023,2023-01-03,2023,1
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023,2023-01-04,2023,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023,2023-01-05,2023,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024,2024-05-30,2024,5
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024,2024-05-31,2024,5
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024,2024-06-01,2024,6
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024,2024-06-02,2024,6
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015,2015-06-03,2015,6

In [ ]:
# Here we are storing the months in the seperate column
df_attribute['order_date_week'] = df_attribute['converted_order_date'].dt.isocalendar().week

In [ ]:
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date,converted_order_date,order_date_year,order_date_month,order_date_week
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023,2023-01-01,2023,1,52
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023,2023-01-02,2023,1,1
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023,2023-01-03,2023,1,1
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023,2023-01-04,2023,1,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023,2023-01-05,2023,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024,2024-05-30,2024,5,22
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024,2024-05-31,2024,5,22
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024,2024-06-01,2024,6,22
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024,2024-06-02,2024,6,22
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015,2015-06-03,2015,6,23

In [ ]:
df_attribute[['converted_order_date','order_date_week']]

    converted_order_date  order_date_week
0             2023-01-01               52
1             2023-01-02                1
2             2023-01-03                1
3             2023-01-04                1
4             2023-01-05                1
..                   ...              ...
515           2024-05-30               22
516           2024-05-31               22
517           2024-06-01               22
518           2024-06-02               22
519           2015-06-03               23

[520 rows x 2 columns]

In [ ]:
# We want that data where the year is 2015
df_attribute[df_attribute['order_date_year']==2015]

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date,converted_order_date,order_date_year,order_date_month,order_date_week
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015,2015-06-03,2015,6,23

In [ ]:
df_attribute['Reviews'].value_counts() # Here the group by operation is known as value_counts()

In [ ]:
# If you want to add the data of two or more column and add into the new column
# df['new_column'] = df['column1'] + df['column2']

In [12]:
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [15]:
# If we want to delete the specific column
df_attribute.drop('Style',axis=1)
# We can delete row and  column by default the axis=0 which is row
# For row axis=0
# For column axis=1
# If we delete in these way in these scenario it is deleted but originally it is not deleted

,Dress_ID,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [17]:
df_attribute.head() # Here we run again the deleted column is there

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023

In [19]:
# For permananet changes :-
# Store the df_attribute.drop('Style',axis=1) in new dataframe and then the changes are permanent
# Another method is inplace method
df_attribute.drop('Style',axis=1,inplace=True)

In [20]:
df_attribute

,Dress_ID,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [23]:
df_attribute.head()

,Dress_ID,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023

In [25]:
# If we want to delete the row
df_attribute.drop(1)

,Dress_ID,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
2,1190380701,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
5,1068332458,Low,0,M,Summer,v-neck,sleevless,empire,NaN,NaN,NaN,print,0,NaN,06-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [26]:
df_attribute

,Dress_ID,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [28]:
# For permanent removal of the row use inplace=True
df_attribute.drop(1,inplace=True)

In [29]:
df_attribute

,Dress_ID,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
2,1190380701,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
5,1068332458,Low,0,M,Summer,v-neck,sleevless,empire,NaN,NaN,NaN,print,0,NaN,06-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [10]:
# Performing the row operation
#Filtering out the rows data
df_attribute.loc[[2,4]] # It will give the record 2 and the record 4

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023

In [11]:
# Here we are using the range function for filtering out the record # Range from 2 to 10
df_attribute.loc[2:10]

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
5,1068332458,bohemian,Low,0,M,Summer,v-neck,sleevless,empire,NaN,NaN,NaN,print,0,NaN,06-01-2023
6,1220707172,Casual,Average,0,XL,Summer,o-neck,full,NaN,cotton,NaN,NaN,solid,0,NaN,07-01-2023
7,1219677488,Novelty,Average,0,free,Automn,o-neck,short,natural,polyster,broadcloth,lace,NaN,0,NaN,08-01-2023
8,1113094204,Flare,Average,0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1,NaN,09-01-2023
9,985292672,bohemian,Low,0,free,Summer,v-neck,sleevless,natural,nylon,chiffon,NaN,NaN,1,NaN,10-01-2023
10,1117293701,party,Average,5,free,Summer,o-neck,full,natural,polyster,broadcloth,lace,solid,0,NaN,11-01-2023

In [13]:
df_attribute.loc[2:10:2] # Here we are fetching the 10 records at the jump of 2

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
6,1220707172,Casual,Average,0,XL,Summer,o-neck,full,NaN,cotton,NaN,NaN,solid,0,NaN,07-01-2023
8,1113094204,Flare,Average,0,free,Spring,v-neck,short,empire,cotton,broadcloth,beading,solid,1,NaN,09-01-2023
10,1117293701,party,Average,5,free,Summer,o-neck,full,natural,polyster,broadcloth,lace,solid,0,NaN,11-01-2023

In [18]:
# Fetching the rows from 0 to 4 and column index 0 to 2
df_attribute.loc[0:4,['Dress_ID','Style']]

     Dress_ID    Style
0  1006032852     Sexy
1  1212192089   Casual
2  1190380701  vintage
3   966005983    Brief
4   876339541     cute

In [20]:
# Doing the above operation with the help of iloc
df_attribute.iloc[0:4,0:3]

     Dress_ID    Style    Price
0  1006032852     Sexy      Low
1  1212192089   Casual      Low
2  1190380701  vintage     High
3   966005983    Brief  Average

In [22]:
# iloc -> Understands the default one
# loc-> Understands the name given by user or not it can understand the default one

In [26]:
df_attribute.iloc[2:6,3:6]

  Rating Size  Season
2      0    L  Automn
3    4.6    L  Spring
4    4.5    M  Summer
5      0    M  Summer

In [24]:
df_attribute

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [27]:
# Changing the name of the column usinf rename function
df_attribute.rename(columns={'Rating':'Ratings'},inplace=True)

In [30]:
df_attribute

,Dress_ID,Style,Price,Ratings,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [32]:
# Changing the name of the row using the rename method
df_attribute.rename(index={0: '0th_row'}, inplace=True)

In [33]:
df_attribute

,Dress_ID,Style,Price,Ratings,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0th_row,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [39]:
# Accesing the row by it's new row name
df_attribute.loc[['0th_row']]

,Dress_ID,Style,Price,Ratings,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0th_row,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023

In [43]:
# Here we are filtering the data types which have datatype equal to float64
df_attribute.dtypes[(df_attribute.dtypes=='float64')]

Unnamed: 14    float64
dtype: object

In [45]:
# Filtering out that data which do not has data type float64
df_attribute.dtypes[df_attribute.dtypes!='float64']

Dress_ID          object
Style             object
Price             object
Ratings           object
Size              object
Season            object
NeckLine          object
SleeveLength      object
waiseline         object
Material          object
FabricType        object
Decoration        object
Pattern Type      object
Recommendation    object
Date              object
dtype: object

In [46]:
# Storing the df_attribute.dtypes[(df_attribute.dtypes=='float64')] in df
df2=df_attribute.dtypes[(df_attribute.dtypes=='float64')]

Unnamed: 14    float64
dtype: object

In [47]:
# If we want to drop the row or column which consists of the null value 
# dataframe_name.dropna() By default it will drop the row even a single null value is there it will drop whole value

In [49]:
# If we want to drop the column consisiting of null value and even one null value then also it will drop
# dataframe_name.drop(axis=1)

In [50]:
# If we want to apply the condition on the count of the Nan values
# dateframe_name.dropna(thresh=n) # Atleast n Nan values

In [51]:
# If we want to fill the Nan values with the particular values then will use
# dataframe_name.fillna(value=n) It will fill with the all the Nan values with the n values

In [52]:
# Replacing Nan value with the mean of the column
# dataframe_name.fillna(value=dataframe_name['column_name'].mean())

In [64]:
df_attribute

,Dress_ID,Style,Price,Ratings,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation,Unnamed: 14,Date
0th_row,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1,NaN,01-01-2023
1,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0,NaN,02-01-2023
2,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0,NaN,03-01-2023
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1,NaN,04-01-2023
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0,NaN,05-01-2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,1055411544,Casual,Low,5,M,Summer,boat-neck,short,NaN,cotton,NaN,sashes,solid,0,NaN,30-05-2024
516,1162628131,Casual,Low,0,free,Winter,boat-neck,full,NaN,other,other,lace,NaN,0,NaN,31-05-2024
517,624314841,cute,Average,4.7,L,spring,o-neck,short,NaN,cotton,NaN,sashes,solid,1,NaN,01-06-2024
518,830467746,bohemian,Medium,5,free,Automn,o-neck,full,natural,NaN,NaN,hollowout,patchwork,1,NaN,02-06-2024
519,840857118,Brief,Average,0,M,Winter,peterpan-collor,threequarter,natural,cotton,NaN,NaN,patchwork,0,NaN,03-06-2015

In [ ]:
# Challeneges for the next session
1-> Dataset:- Agent Performance Report
# For each agent what is the weekly ratiny that you have solvedg (Only for 5 days)

# . Find out there avarage rating on weekly basis keep this in a mind that they take two days of le
# 1
# . Total working days for each agents
# 2
# Total query that you hvae taken
# 3.
# total Feedback that you have received
# 4.
# a agent name who have average rating between 3.5 to 4
# 5.
# Agent name who have rating lesss then 3.5
# 6.
# agent name who have rating more then 4.5
# how many feedaback agents have received more then 4.5 average
# 8.
# . average weekly response time for each agent
# 9
# average weekely resolution time for each agents
# 10 .
# list of all agents name
# 11 .
# percentage of chat on which they have received a feedback
# 12
# Total contributation hour for each and every agents weekly basis
# 13 .
# total percentage of active hour for a month
# 14.

In [4]:
# Dataset is available in the form of the dictionary
data={'name':['sudh','krish','hitest','telusko'],'salary':[100,200,300,400],
      
        'mail_id' : ['sudh@inuron.ai','krish@inuron.ai','hites@inuron.ai','telisko@inuron.ai'],
        'addr' :['blr','blr','blr','mum']
}
# Now we have to convert these dictionary into dataset
df=pd.DataFrame(data)

In [12]:
# Changing the index of the row
pd.DataFrame(data,index=[4,5,6,7])

      name  salary            mail_id addr
4     sudh     100     sudh@inuron.ai  blr
5    krish     200    krish@inuron.ai  blr
6   hitest     300    hites@inuron.ai  blr
7  telusko     400  telisko@inuron.ai  mum

In [16]:
df=pd.DataFrame(data,index=[4,5,6,7])

In [17]:
df.loc[5]

name                 krish
salary                 200
mail_id    krish@inuron.ai
addr                   blr
Name: 5, dtype: object

In [18]:
df.loc[5:6]

     name  salary          mail_id addr
5   krish     200  krish@inuron.ai  blr
6  hitest     300  hites@inuron.ai  blr

In [19]:
# iloc always looks for the default index
# loc always looks for the given index that was given bu the user
# Here no output will come
df.iloc[5:6]

Empty DataFrame
Columns: [name, salary, mail_id, addr]
Index: []

In [20]:
# Here we are going with the default index
df.iloc[1:3]

     name  salary          mail_id addr
5   krish     200  krish@inuron.ai  blr
6  hitest     300  hites@inuron.ai  blr

In [21]:
# String indexing is also possible
df=pd.DataFrame(data,index=['sudh','krish','hitesh','telusko'])

In [22]:
df

            name  salary            mail_id addr
sudh        sudh     100     sudh@inuron.ai  blr
krish      krish     200    krish@inuron.ai  blr
hitesh    hitest     300    hites@inuron.ai  blr
telusko  telusko     400  telisko@inuron.ai  mum

In [23]:
df=pd.DataFrame(data,index=['0','1','2','3'])

In [24]:
df

      name  salary            mail_id addr
0     sudh     100     sudh@inuron.ai  blr
1    krish     200    krish@inuron.ai  blr
2   hitest     300    hites@inuron.ai  blr
3  telusko     400  telisko@inuron.ai  mum

In [26]:
# Creating the dictionary data1
data1={'pf_nu':[234,45,54465,656],'income_tax':[234,565,767,6778],'courses':['ds','bigdata','web dev','blockchain']
}
df1=pd.DataFrame(data1)

In [27]:
df1

   pf_nu  income_tax     courses
0    234         234          ds
1     45         565     bigdata
2  54465         767     web dev
3    656        6778  blockchain

In [28]:
df

      name  salary            mail_id addr
0     sudh     100     sudh@inuron.ai  blr
1    krish     200    krish@inuron.ai  blr
2   hitest     300    hites@inuron.ai  blr
3  telusko     400  telisko@inuron.ai  mum

In [29]:
# Here we want to merge the df and the df1
# We can merge it vertically and the horizontally
pd.concat([df,df1])
# Here we have done horizontal concatination

      name  salary            mail_id addr    pf_nu  income_tax     courses
0     sudh   100.0     sudh@inuron.ai  blr      NaN         NaN         NaN
1    krish   200.0    krish@inuron.ai  blr      NaN         NaN         NaN
2   hitest   300.0    hites@inuron.ai  blr      NaN         NaN         NaN
3  telusko   400.0  telisko@inuron.ai  mum      NaN         NaN         NaN
0      NaN     NaN                NaN  NaN    234.0       234.0          ds
1      NaN     NaN                NaN  NaN     45.0       565.0     bigdata
2      NaN     NaN                NaN  NaN  54465.0       767.0     web dev
3      NaN     NaN                NaN  NaN    656.0      6778.0  blockchain

In [31]:
df=pd.DataFrame(data)

In [32]:
# Column wise concatination when axis=1
pd.concat([df,df1],axis=1)

      name  salary            mail_id addr  pf_nu  income_tax     courses
0     sudh     100     sudh@inuron.ai  blr    234         234          ds
1    krish     200    krish@inuron.ai  blr     45         565     bigdata
2   hitest     300    hites@inuron.ai  blr  54465         767     web dev
3  telusko     400  telisko@inuron.ai  mum    656        6778  blockchain

In [43]:
data2={'0':['sudh','krish','hitest','telusko'],'1':[100,200,300,400],
      
        '2' : ['sudh@inuron.ai','krish@inuron.ai','hites@inuron.ai','telisko@inuron.ai'],
        '3' :['blr','blr','blr','mum']
}

In [44]:

data3={'0':[234,45,54465,656],'1':[234,565,767,6778],'2':['23543','43523','454','5656'],'3':['ds','bigdata','web dev','blockchain']
}

In [45]:
df2=pd.DataFrame(data2)

In [46]:
df3=pd.DataFrame(data3)

In [48]:
# Here our column name are same or key is same that is why we are not getting any Nan values at the time of concatination
pd.concat([df2,df3])

         0     1                  2           3
0     sudh   100     sudh@inuron.ai         blr
1    krish   200    krish@inuron.ai         blr
2   hitest   300    hites@inuron.ai         blr
3  telusko   400  telisko@inuron.ai         mum
0      234   234              23543          ds
1       45   565              43523     bigdata
2    54465   767                454     web dev
3      656  6778               5656  blockchain

In [49]:
data4 = {
    'emp_id':[101,102,103,104],
    'salary':[234,345,200,400],
    'pf':[23,34,56,78]
}

In [50]:
data5={
    'emp_id':[101,102,104,105],
    'mob_no':[3434,5656,767,878],
    'house_no':[345,345,345,56]
}

In [53]:
df4=pd.DataFrame(data4)

In [54]:
df4

   emp_id  salary  pf
0     101     234  23
1     102     345  34
2     103     200  56
3     104     400  78

In [55]:
df5=pd.DataFrame(data5)

In [56]:
df

      name  salary            mail_id addr
0     sudh     100     sudh@inuron.ai  blr
1    krish     200    krish@inuron.ai  blr
2   hitest     300    hites@inuron.ai  blr
3  telusko     400  telisko@inuron.ai  mum

In [57]:
# Merge Oprearion -> By default it will take the common data based on the common column name
pd.merge(df4,df5)

   emp_id  salary  pf  mob_no  house_no
0     101     234  23    3434       345
1     102     345  34    5656       345
2     104     400  78     767       345

In [58]:
df4

   emp_id  salary  pf
0     101     234  23
1     102     345  34
2     103     200  56
3     104     400  78

In [59]:
df5

   emp_id  mob_no  house_no
0     101    3434       345
1     102    5656       345
2     104     767       345
3     105     878        56

In [60]:
# Left merge operation -> Take the left of the dataset and the common of both the dataset
pd.merge(df4,df5,how='left')

   emp_id  salary  pf  mob_no  house_no
0     101     234  23  3434.0     345.0
1     102     345  34  5656.0     345.0
2     103     200  56     NaN       NaN
3     104     400  78   767.0     345.0

In [61]:
# Left merge operation -> Take the right of the dataset and the common of both the dataset
pd.merge(df4,df5,how='right')

   emp_id  salary    pf  mob_no  house_no
0     101   234.0  23.0    3434       345
1     102   345.0  34.0    5656       345
2     104   400.0  78.0     767       345
3     105     NaN   NaN     878        56

In [62]:
# Outer and Cross merge operation is also possible

In [63]:
pd.merge(df4,df5,how='right',on='emp_id')

   emp_id  salary    pf  mob_no  house_no
0     101   234.0  23.0    3434       345
1     102   345.0  34.0    5656       345
2     104   400.0  78.0     767       345
3     105     NaN   NaN     878        56

In [81]:
data6 = {
    'emp_id1':[101,102,103,104],
    'salary':[234,345,200,400],
    'pf':[23,34,56,78]
}

In [82]:
data7={
    'emp_id2':[101,102,104,105],
    'mob_no':[3434,5656,767,878],
    'house_no':[345,345,345,56]
}

In [83]:
df6=pd.DataFrame(data6)

In [84]:
df7=pd.DataFrame(data7)

In [86]:
df6

   emp_id1  salary  pf
0      101     234  23
1      102     345  34
2      103     200  56
3      104     400  78

In [87]:
df7

   emp_id2  mob_no  house_no
0      101    3434       345
1      102    5656       345
2      104     767       345
3      105     878        56

In [88]:
# In the above two dataset there is no comman column
pd.merge(df6,df7) # Here error will come because column name is not same

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [89]:
# Column name is not same but we want to performe the merge operation
pd.merge(df6,df7,left_on='emp_id1',right_on='emp_id2') # By default inner join will be performed

   emp_id1  salary  pf  emp_id2  mob_no  house_no
0      101     234  23      101    3434       345
1      102     345  34      102    5656       345
2      104     400  78      104     767       345

In [107]:
data8 = {
    'emp_id':[101,102,103,104],
    'salary':[234,5656,200,400],
    'pf':[23,34,56,78]
}

In [108]:
data9={
    'emp_id':[101,102,104,105],
    'salary':[234,5656,767,878],
    'house_no':[345,345,345,56]
}

In [109]:
df8=pd.DataFrame(data8)

In [110]:
df9=pd.DataFrame(data9)

In [105]:
df8

   emp_id  salary  pf
0     101     234  23
1     102     345  34
2     103     200  56
3     104     400  78

In [106]:
df9

   emp_id  salary  house_no
0     101    3434       345
1     102    5656       345
2     104     767       345
3     105     878        56

In [111]:
# We want to perform the merge operation on the emp_id and salary
# If the data in both the column are same then only it will print the data
pd.merge(df8,df9,on=['emp_id','salary'])

   emp_id  salary  pf  house_no
0     101     234  23       345
1     102    5656  34       345

In [114]:
df8.index

RangeIndex(start=0, stop=4, step=1)

In [126]:
data10 = {
    'emp_id1':[101,102,103,104],
    'salary1':[234,5656,200,400],
    'pf':[23,34,56,78]
}

In [137]:
data11={
    'emp_id2':[101,102,104,105,123],
    'salary2':[234,5656,767,878,43],
    'house_no':[345,345,345,56,234]
}

In [138]:
df10=pd.DataFrame(data10,index=['a','b','c','d'])

In [139]:
df11=pd.DataFrame(data11,index=['a','b','d','e','f'])

In [130]:
df10

   emp_id1  salary1  pf
a      101      234  23
b      102     5656  34
c      103      200  56
d      104      400  78

In [131]:
df11

   emp_id2  salary2  house_no
a      101      234       345
b      102     5656       345
c      104      767       345
d      105      878        56

In [134]:
# Performing the join operation
df10.join(df11) # By default it will do the left join

   emp_id1  salary1  pf  emp_id2  salary2  house_no
a      101      234  23      101      234       345
b      102     5656  34      102     5656       345
c      103      200  56      104      767       345
d      104      400  78      105      878        56

In [ ]:
# Merge-> Column Name
# Join-> Row Index